/* Formatação de Paragráfo */

p {
    color: rgba(243, 24, 255, 0.47);
    font-family: 'Courier New', Courier, monospace; 
    font-size: 20px; 
    font-weight: 700; 
    margin-left: 10px; 
    text-align: center; 
}

h1, h2{
    color: pink;
    font-family: 'Arial', sans-serif; 
    font-size: 30px; 
    font-weight: 900; 
    text-align: center; 
}

